.toggleSwitch {
  cursor: pointer;
  caret-color: transparent;
}
.toggleSwitch__input {
  display: none;
}

.toggleSwitch__track {
  position: relative;
  width: 56px;
  height: 28px;
  background: #fff;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  overflow: hidden;
}

.toggleSwitch__track:hover {
  border-color: #000;
}

.toggleSwitch__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: #000;
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.toggleSwitch__thumb_right {
  transform: translateX(28px);
}

.toggleSwitch__track:hover .toggleSwitch__thumb {
  transform: translateX(50%);

  border-color: #000;
}

.toggleSwitch__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 13px;
  font-weight: 700;
  z-index: 2;
  pointer-events: none;
  transition: color 0.3s ease;
  user-select: none;
}

.toggleSwitch__label_f {
  left: 10px;
}

.toggleSwitch__label_c {
  right: 10px;
}

.toggleSwitch__label_light {
  color: #fff;
}

.toggleSwitch__label_dark {
  color: #7e7e7e;
}
