.weather-card {
  background-color: #00a3ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 80px;
}

.weather-card__temp {
  color: #fff;
  font-family: "Cabinet Grotesk";
  font-size: 36px;
  font-weight: 700;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  margin: 0;
}
